# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# MIDI
*.mid
*.midi

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# GarageBand
*.band
*.logicx
*.caf